<h1 class="title">ReverseON</h1>
<div class="profile-container">
  <div class="profile-image">
    <img class="pfp" src="/statics/media/profile.png" alt="Profile picture"/>
  </div>
  <div class="profile-text">
    <div>
      <span>a.k.a. &nbsp;</span><h3 class="inline-name">Thirafi Najwan Kurniatama</h3>
    </div>
    <p class="profile-item">
      <span class="profile-icon">☀️</span>
      <span class="profile-content">SRE by day, ⚔️ Conqueror (in HOI4) by night.</span>
    </p>
    <p class="profile-item">
      <span class="profile-icon">📍</span>
      <span class="profile-content">Yokohama, Japan.</span>
    </p>
    <p class="profile-item">
      <span class="profile-icon">💻</span>
      <span class="profile-content">Interested in low-level programming and distributed systems. Currently learning Kubernetes in particular.</span>
    </p>
    <p class="profile-item">
      <span class="profile-icon">🇯🇵</span>
      <span class="profile-content">日本語 (初級), 🇬🇧 English, 🇮🇩 Indonesian OK!</span>
    </p>
    <div class="social-links">
      <a href="https://github.com/reverseon" target="_blank" rel="noopener noreferrer" class="pill-link">
        <i class="bi bi-github"></i>GitHub
      </a>
      <span> | </span>
      <a href="https://linkedin.com/in/thirafinajwan" target="_blank" rel="noopener noreferrer" class="pill-link">
        <i class="bi bi-linkedin"></i>LinkedIn
      </a>
      <span> | </span>
      <a href="https://instagram.com/thirafinajwan" target="_blank" rel="noopener noreferrer" class="pill-link">
        <i class="bi bi-instagram"></i>Instagram
      </a>
    </div>
  </div>
</div>