<div class="top-nav">
  <a href="/#train-of-thoughts" class="back-link">
    <i data-lucide="arrow-left"></i>
    Back to Home
  </a>
</div>

<div class="thoughts-timeline">
  <%= render_partial('thoughts/_content', { thought: thought }) %>
  
  <div style="text-align: right; margin-top: 0.5rem;">
    <a href="/carriages/fetcher.html?id=<%= thought[:id] %>" class="pill-link">
      See Other Thoughts
      <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14M12 5l7 7-7 7"/></svg>
    </a>
  </div>
</div>
